{% extends 'base.html.twig' %}

{% block title %}Agent de collecte - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('app_agent_dashboard') }}">
                                <i class="fas fa-tachometer-alt"></i>
                                Tableau de bord
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_agent_tournées') }}">
                                <i class="fas fa-route"></i>
                                Mes tournées
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_agent_collectes') }}">
                                <i class="fas fa-trash-alt"></i>
                                Mes collectes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_agent_historique') }}">
                                <i class="fas fa-history"></i>
                                Historique
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {% block agent_content %}{% endblock %}
            </main>
        </div>
    </div>
{% endblock %}
